<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for registration</title>
    <link rel="Stylesheet" href="style.css">
</head>
<body>
    <form method="get">
        <label>Name</label>
        <input placeholder="Enter your name" name="name" type="text">
        <label>location</label>
        <input placeholder="Enter your Location" name="location" type="text">

    </form>
    
</body>
</html>