body{
    background-image: url(image2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;

}
.main_box{
    background: url("photo.jpg");
    height:100vh;
    background-size: cover;
}
.btn_one{
    color:white;
    font-size: 20px;
    font-weight: 700px;
    position:absolute;
    left:16px;
    line-height: 60px;
    cursor: pointer;
    
}
.sidebar_menu{
    position: fixed;
    left:-300px;
   height:100vh;
   width:300px;
   background-color:black;
   box-shadow: 0 0 6px rgb(255,255, 255,0.5);
   transition: all 0.2s linear;
}
.sidebar_menu .logo{
    position:absolute;
    width:200px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
    height:60px;
    
}
.sidebar_menu .logo a{
    position: absolute;
    left:50px;
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;


}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .btn_two {
    color:grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left:270px;
    cursor: pointer;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
    font-size: 20px;

}
.sidebar_menu .menu i{
    padding-right:8px ;
}
.sidebar_menu .social_media {
    position: absolute;
    left:25%;
    bottom: 50px;

}
.sidebar_menu .social_media i{
    color:white;
    opacity: 0.5;
    padding: 0px 5px;

}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
  box-shadow: 0 0 6px rgba(255,255,255,0.1);

}
.btn_one:hover{
    font-size: 40px;
}
.btn_two:hover{
    font-size: 20px;
}
.sidebar_menu  .social_media i:hover{
    opacity:1;
    
    transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left:0;
}
#check:checked~ .btn_one i{
    opacity: 0;
}
.sidebar_menu .logo{
    width:100%;
    height:100% 
    box-shadow: 0 0 6px rgba(255,255,255,0.1);

}
h1{
    color:white;
    font-size: 50px;
    padding-top: 50px;
    padding-left: 20px;
}
#check:checked ~ #title{
    display: none;
}
#title{
 color: black !important;
}